
#ENCABEZADO{
    
    text-align: center;
    margin-top: 100px; 
}

#ENCABEZADO > h1{
    font-size: 50px;
}

#ENCABEZADO > p{
    font-size: 20px;
    font-weight: bold;
}

/*#IMAGEN{
     background-position: 3% center;
    
}*/

#MANTENIMIENTO{
    text-align: center;
    color:red;
    margin-top: 100px;
    
}

#MANTENIMIENTO > p{
    font-weight: bold;
    color: black;
}

/* .contenedor-img {
 
    flex-direction: row;
    align-items: center; 
    width: 50px;
    margin-top: 10px;
    margin: 0 10px;
} */



/* #PRODUCTOS{
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    color: inherit;
    justify-content: space-around;
}    */

.imagen-seleccion{
    height: 250px;
    width: 250px;
    margin-left: 3vh;
}

#seleccion{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#seleccion a .imagen-seleccion + h3 {
    text-align: center;
}

#seleccion a{
    text-decoration: none;
}

#consola-select{
    position: relative;
    bottom: 1.5vh;
}

#ARMADO{
    font-size: 20px;
    text-align: center;
    color:red;
    margin-top: 100px;
}