body{
    height: auto !important;
    width: auto !important;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(4, 0fr); 
    gap: 5vw; 
    justify-content: center;
    font-weight: bolder;
    padding-bottom: 5vw;
}
/* .card1 {
    border: 1px solid white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
} */
/* .card img {
    max-width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.card-body {
    padding: 1rem;
    row-gap: 0;
}
} */



.tachado {
    text-decoration: line-through;
    color: red;
}

.card{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 18vw;
    transition: transform 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.stock{
    font-size: 1.05vw;
    height: 1vw;
    margin: 0;
}

.precio{
    font-size: 1.05vw;
}

.card-img{
    height: 20vw !important;
}

.card-body a{
    padding: 2% 4%;
}

#catalogoprincipal{
    display: flex;
    justify-content: center;
}
#catalogoprincipal > h1{
    padding: 3vw ;
    font-size: 3.8vw;
}

.card-body {
    padding: 5%;
}