@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

body {
    font-family: "Public Sans", sans-serif;
    background-color: rgb(119, 212, 255);
    display: flex;
    align-items: center;
}


label {
    font-size: 1vw;
    font-weight: bolder;
}

ul {
    padding: 0 0 0 10%;
}

#contenedor-registro {
    width: 35vw;
    padding: 3% 6%;
    border-radius: 10px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}

small {
    font-size: 1vw;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


input,
button {
    border-radius: 4px;
    font-size: 1.2vw;
}

.btn {
    background-color: #6495ed;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1200px) {
    #contenedor-registro {
        width: 35vw;
    }

    label {
        font-size: 1.5vw;
    }

    input,
    button {
        font-size: 1.8vw;
    }

    small {
        font-size: 1.4vw;
    }
}

@media (max-width: 800px) {
    #contenedor-registro {
        width: 50vw;
    }

    label {
        font-size: 2vw;
    }

    input,
    button {
        font-size: 2.2vw;
    }

    small {
        font-size: 1.9vw;
    }
}