@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/*TODO:-------------------HEADER------------------- */

#principal {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
}

#arriba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 1rem 0rem;
    color: white;
    border-bottom: solid 1px rgb(63, 57, 57);
}

#contenedor-logo{
    margin-left: 6.5%;
}


#contenedor-logo h1 {
    font-size: 2vw;
    margin: 0;
}

#nano {
    color: white;
}

#bytes {    
    color: #2fc5e0;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    border-radius: 100%;
    width: 3.5vw;
    margin: 0.5vw 1vw 0.5vw 0;
}

#barrasuperior {
    font-size: 1.35vw;
    display: flex;
    column-gap: 1.6rem;
    font-family: "Public Sans", sans-serif;
    align-items: center;
    margin-right: 2%;
}

#barrasuperior>a:hover {
    color: #2fc5e0;
}

#carro-img {
    display: flex;
    align-items: center;
}

.btn-login{
    height: 2.3vw;
    width: 8vw;
    border-radius: 2px ;
    
}

.btn-login a{
    color: #000000;
}

#btn-salir{
    width: 3vw;
    height: 4vh;
    font-size: 1.1vw;
    border: none;
    /* margin-bottom: 1vh; */
}

/* .circulo {
    height: 2vw;
    width: 2vw;
    border: 2px solid #2fc5e0;
    border-radius: 50%;        
    background-color: transparent; 
    text-align: center;
    color: white;
  } */

#fondo-usuario{
    display: flex;
    align-items: center;
    background-color: red    ;
    width: 10vw;
    justify-content: center;

}

a {
    text-decoration: none;
    color: white;
}

.usuario {
    color: white;
}

/*TODO:-------------------BANNER-CAROUSEL------------------- */
#sectionbanner {
    /* padding-top: 8rem; */
    height: auto;
    border-bottom: solid 1px rgb(0, 0, 0);
    background-repeat: round;
    background-color: rgb(0, 0, 0);
    z-index: 1000;

}
.carousel-item img {
    object-fit: cover;
} 

#carouselExampleDark {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
}


.carousel-control-prev,
.carousel-control-next {
    background-color: #00000000 !important;

}

#obtener1 {
    background-color: black;
    border: 0.2rem solid white;
    padding: 1% 0%;
    width: 40%;
    height: auto;
    text-align: center;
    margin-bottom: 7%;
    z-index: 9;
    display: flex;
    justify-content: center;
    font-size: 1.3vw;
    transition: all 0.3s ease;
}

#obtener1:hover {
    background-color: rgba(0, 0, 0, 0.801);
    transform: scale(1.1);
}

#obtener1-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}

#titulobanner1 {
    color: white;
    text-align: center;
    width: 50%;
    margin-bottom: 30vh;
    margin-left: -9%;

}

#titulobanner1>h1 {
    font-size: 4rem;
    border-radius: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #000000a0;
}


#obtener2-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;

}

#obtener2 {
    background-color: black;
    border: 0.2rem solid white;
    padding: 1% 0;
    width: 30vw;
    text-align: center;
    display: flex;
    z-index: 9;
    justify-content: center;
    font-size: 1.4vw;
    transition: all 0.3s ease;
}

#obtener2:hover {
    background-color: rgba(0, 0, 0, 0.842);
    transform: scale(1.1);
}

.mb-3{
    margin: 0 !important;
}
/* #obtener3 {
    background-color: transparent;
    border: 0.2rem solid white;
    padding: 1rem 1rem;
    width: 25rem;
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    z-index: 1001;
    justify-content: center;
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

#obtener3:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
} */


/* #contenido1>h1 {
    font-size: larger;
    font-size: 40px;
} */

/* .titulo-2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
} */


/*TODO:-------------------FOOTER------------------- */

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: "Public Sans", sans-serif;
}

#footer-iconos i {
    font-size: 1.5vw;
    margin: 0 10px;
}

#footer-superior {
    display: flex;
    justify-content: space-evenly;

}

.footer-titulo {
    display: flex;
    text-align: center;
    font-size: 1.55vw;
}

.clase-footer {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    margin: 5% 0 0 0;
    font-weight: normal;
}

#footer-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 0 0;

}

#pie-footer {
    display: flex;
    column-gap: 3vw;
    font-size: 1vw;
}

#derechos-reservados {
    display: flex;
    justify-content: center;
    font-size: 0.9vw;
    margin-top: 2%;
}

.a-footer {
    font-size: 1.2vw;
}

#footer-iconos {
    display: flex;
    column-gap: 2.5vw;
    justify-content: right;
    align-items: center;
    margin-right: 10%;
}

#footer-iconos a {
    margin-top: 5%;
    max-width: 2vw;
    max-height: 5vh;

}

#footer-iconos a:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}


/*TODO:-------------------SECCIÓN-SERVICIOS------------------- */

.modal-body {
    font-size: 1.3vw;
}

#section-servicios {
    background-color: rgb(6, 6, 6);
    height: auto;
    /* border-bottom: solid 1px rgb(65, 63, 63); */
    background-image: url();

}

#servicios>h1 {
    padding-top: 5%;
    margin: 0;
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
}

.line-container {
    width: 70%;
    margin: 3% auto 5%;
}

.line {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
}

#parrafo-botones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#parrafo-botones>p {
    font-size: 1.8vw;
    color: white;
    display: flex;
    text-align: center;
    max-width: 50%;
    margin-right: 15%;
}


#botonservicios {
    display: flex;
    row-gap: 2vw;
    /* margin-top: 5%; */
    /* align-items: end; */
    margin: 5% 0;
    flex-direction: column;
    /* margin-bottom: 4vh; */
}

#botonservicios>button {
    background-color: transparent;
    border: 0.09rem solid white;
    padding: 3%;
    font-size: 1.8vw;
    width: 20vw;
    text-align: center;
    transition: all 0.3s ease;
}

#botonservicios>button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

#damos-opciones {
    color: white;
    font-size: 2.5vw;
    margin-bottom: -5%;
    width: 70%;
    text-align: center;
}

.btn-servicios {
    background-color: transparent;
    border: 0.09rem solid white;
    padding: 3%;
    font-size: 1.8vw;
    width: 20vw;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    border-radius: 10px;
}

.btn-servicios:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}


/*TODO:-------------------NUESTROS-TRABAJOS------------------- */

/* #videos{
    display: flex;
    background-color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
/* -------------- SECCIÓN NUESTROS TRABAJOS ------------------- */

#nuestros-trabajos {
    height: auto;
    font-family: "Public Sans", sans-serif;


}


#videos {
    display: flex;
    flex-direction: column;
    background-image: url(assets2/muro-hormigon-blanco.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    padding: 5% 0;
    

}

#primer-video,
#segundo-video,
#tercer-video {
    display: flex;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
    margin: 5%  10% 0;
}

#segundo-video {
    flex-direction: row-reverse;
}

#videos>h2 {
    font-weight: bold;
    font-size: 4vw;
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    /* margin-bottom: 2%; */
}

#videos>img {
    background-color: white;
    padding: 2%;
    max-width: 60vw;
    border-radius: 0.1rem;
}

.parrafo-video {
    width: 40%;
    font-size: 1.8vw;
    text-align: justify;
    margin: 0 0 5% 0;
}


/*TODO:-------------------SECCIÓN-ARMADO------------------- */

#armadopc {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-image: url();
    font-size: 1.2rem;
    border-bottom: solid 4px rgb(0, 0, 0);

}

#cards-armado {
    /* margin-top: 7%; */
    display: flex;
    justify-content: center;
    column-gap: 8%;
}


.card-armado {
    display: flex;
    flex-direction: column;
    /* margin-top: 3%; */
    width: 18vw;
    transition: transform 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.card-armado>.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card-armado>p {
    display: flex;
    margin-bottom: 20vh;
}

.card-body-armado {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.card-title {
    font-size: 1.2vw;
    margin: 4%;
}

.card-title-armado {
    font-size: 1.3vw;
    margin: 5% 0;
}

.btn-armado {
    /* margin-bottom: -3vh; */
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 1.4vw;
    border: 2px solid #000000;
    padding: 3% 9%;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 8%;
    border-radius: 0.2rem;
}

.btn-armado:hover {
    background-color: rgba(21, 21, 21, 0.864);
    color: #ffffff;
    transform: scale(1.1);
}



.card-text-armado {
    display: flex;
    text-align: center;
    max-height: 1vh;
    margin-bottom: 12%;
    font-size: 1.05vw;
}

.card-armado>img {
    object-fit: fill;
    height: 50%;
}

.card-armado:hover {
    transform: scale(1.05);

}

.cards-armado>a {
    display: flex;

}


/* #armadopc>h1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
} */

#cuerpo-armado {
    background-color: #000000dd;
    display: flex;
    color: white;
    /* margin: 5% 0%; */
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

#cuerpo-armado>p {
    text-align: center;
    font-size: 1.8vw;
    margin: 5% 0;
    /* margin-bottom: 5%;   */
    width: 50%;
}

#boton-armado {
    color: rgb(255, 255, 255);
    /* display: flex; */
    font-size: 2vw;
    margin-bottom: 5%;
    border: 0.09rem solid white;
    padding: 1%;
    width: 30vw;
    text-align: center;
    transition: all 0.3s ease;
}

#boton-armado:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}
#contenido-armado>h2 {
    display: flex;
    justify-content: center;
    /* padding-top: 5%; */
    margin: 5% 0;
    font-size: 4vw;
    color: white;

}
#contenido-armado {
    display: flex;
    flex-direction: column;
    justify-content: center;

}.contendio-armadopc {
    height: 60vh;
}

/* !ELIMINAR */
/* 
.img-pc {
    width: 300px;
    height: 300px;
}

.contendio-armadopc form {
    display: flex;
    justify-content: space-around;
}


.seleccion-juegos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seleccion-juegos input {
    color: black;
    width: 200px;
    height: 20px;
}

.fps-presupuesto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fps-presupuesto select,
.fps-presupuesto option,
.fps-presupuesto input {
    color: black;
    margin: 10px;
}

.presupuesto input {
    width: 125px;
}

.contenido-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.periferico input {
    transform: scale(1.3);
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

.enviar-buttom {
    color: black;
}

*/

/*TODO:-------------------SECCIÓN-NOSOTROS------------------- */

#section-nosotros {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    height: 210vh;
    margin-top: 8vh;
    border-bottom: solid 1px rgb(0, 0, 0);
    /* background-image: url(assets/gato-blanco.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#titulo {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 6vh;
    font-size: 4rem;
}

#primeros-parrafo {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    margin-left: 6%;
    margin-right: 6%;
    column-gap: 4vw;
}

#parrafo1 {
    width: 50%;
    text-align: right;
}

#parrafo2 {
    width: 50%;
    text-align: left;

}

#parrafo3 {
    width: 50%;
    text-align: center;
}

#section2 {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

#equipo {
    margin-top: 5vh;
    font-size: 4rem;
}

#contenido2 {
    margin-top: 5vh;
    font-size: 1.6rem;
}

#section3 {
    background-color: #ffffff;
}

#contenido3 {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.section {
    height: 120vh;
}

/*TODO:-------------------SECCIÓN-COMPONENTES------------------- */


#componentes>h2 {
    display: flex;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    /* padding-top: 5%; */
    text-align: center;
    justify-content: center;
    /* margin-top: 0; */
    margin: 5% 0;
}

#componentes>p {
    /* padding-top: 5%; */
    font-size: 2vw;
    color: rgb(0, 0, 0);
    display: flex;
    max-width: 70%;
    text-align: center;
    margin: 0
}

#sectioncomponentes {
    background-color: rgb(255, 255, 255);
    height: auto;
    background-repeat: repeat-x;
    background-image: url(assets2/muro-hormigon-blanco.jpg);
    background-attachment: fixed;

}

#componentes {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#catalogo {
    display: flex;
    font-size: 2vw;
    /* margin-top: 4%; */
    background-color: #000000;
    border: 0.2rem solid rgb(0, 0, 0);
    color: #ffffff;
    padding: 1% 0;
    width: 30vw;
    justify-content: center;
    /* margin-bottom: 5%; */
    margin: 5% 0;
    text-align: center;
    transition: all 0.3s ease;
}

#catalogo:hover {
    background-color: rgba(0, 0, 0, 0.822);
    transform: scale(1.1);
}
#cards-catalogo {
    display: flex;
    justify-content: center;
    background-color: #000000;
    column-gap: 1%;
    padding-top: 2vh;
    padding-bottom: 2vh;

}


.card {
    width: 18vw;
    display: flex;
    text-align: center;
    margin: 1%;
    transition: transform 0.3s;
}


.btn{
    font-size: 1.3vw;
    padding: 6%;
}

.card-tittle {
    display: flex;
}

.card-text {
    display: flex;
    font-size: 1vw;
    margin-bottom: 2vw;
    height: 1vh;
}

.precio {
    font-size: 1.4vw;
    color: #000000;
    margin: 5% 0;
}

.card>img {
    height: 50%;
}

.card:hover {
    transform: scale(1.05);

}



.card-body-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

/* !NO SE QUE CARAJO HACE ACA */
/* @media (max-width: 1350px){
    .product{
        width: 24.7% !important;
    }

    .catalog-container{
        margin: 0rem !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        
    }
}

@media (max-width: 1150px){
    .catalog-container{
        margin-left: 11vw !important;
    }
}

@media (max-width: 800px){
    .product-content{
        width: 250% !important;    
    }

    .catalog-container{
        margin-left: 15vw !important;
    }

    
} */




/*TODO:-------------------BANNER-CAROUSEL------------------- */

#sectionopiniones {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    border-bottom: solid 0.1rem rgb(65, 63, 63);
    /* background-image: url(assets/cat.webp); */
    background-attachment: fixed;
    background-size: cover;
    height: fit-content;
    background-image: url(assets2/muro-hormigon-blanco.jpg);

}

.type-opiniones {
    font-size: 1.25vw;
}

.type-opiniones2 {
    font-size: 1.3vw;
}

.label-opiniones {
    font-size: 2.2vw;
}

#mapas {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    margin-bottom: 4vw;
    width: 40vw;
}

#mapas>iframe {
    height: 40%;
}

#formulario-contacto {
    display: flex;
    align-items: flex-start;
    /* font-size: 2rem; */ /*! CREA PROBLEMAS DE RESPONSIVIDAD*/
    width: 41vw;
    flex-direction: column;
    /* margin-top: 5vh; */
}

.form-contaco{
    margin: 0 !important;
    padding-top: 10%;
}
/* .card-body {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
} */

/* .incorrecto {
    border: 3px #6e0909ec solid !important;
}


.correct {
    border: 3px #22a30b solid !important;
} */


input {
    box-shadow: none !important;
}

.form-control {

    /* width: 280%; */
    border: solid 0.1rem rgba(0, 0, 0, 0.753);
}

.form-label {
    width: 25vw;
}

#btn-contacto {
    margin: 5% 0;
    padding: 2% 6%;
    font-size: 1vw;
}

.ubicaciones {
    display: flex;
    column-gap: 2vw;
    font-weight: normal;
}

#opiniones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10%;
    width: 100%;
    padding: 5% 0;
}


#opiniones>h1 {
    color: black;
    display: flex;
    width: 100%;
    /* margin-top: 5%; */
    margin-left: 10.5%;
    font-size: 3vw;
}

#ubicacion1 {
    font-size: 1.45vw;
    margin-top: 5%;

}

#ubicacion2 {
    font-size: 1.45vw;
    /* padding-bottom: 5%; */
}

#titulo-ubicaciones {
    font-size: 2.1vw;
    padding-bottom: 3%;
    margin-bottom:5% ;
    border-bottom: 1px solid black;
}


/* !FALTA MOVER ESTO */
/*                                               SECCIÓN CATALOGO                                        */
/* #pagina-catalogo {
    height: fit-content;
    background-color: rgb(255, 255, 255)(55, 255, 255);
    background-image: url();
}

#catalogoprincipal {
    background-color: black;
    display: flex;
    justify-content: center;
    color: black;
}

#catalogoprincipal>h1 {
    font-size: 4rem;
    color: white;
    margin-top: 6.5%;
    margin-bottom: 2%;
} */




/* .btn {
    display: flex;
    justify-content: center;

} */
/* 
.product-content>h2 {
    color: rgb(0, 0, 0);
    margin-top: 0%;
}



.catalog-container>h3 {
    display: flex;
    font-size: 2.5rem;
    margin-left: 1%;
    margin-bottom: 3%;
    border-bottom: solid 0.2rem rgb(65, 63, 63);
} */

/* 
.product {
    width: 18%;
    height: 46vh;
    margin: 0.1rem;
    margin-bottom: 3rem;
    text-align: center;
    transition: transform 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product:hover {
    transform: scale(1.05);
    background-color: rgba(50, 50, 50, 0.1);
}



.add-to-cart-btn {
    background-color: black;
    color: #ffffff;
    font-size: 1.1rem;
    border: 2px solid #000000;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: all 0.3s ease;
    margin-top: 10%;
    border-radius: 0.2rem;
}

.add-to-cart-btn:hover {
    background-color: rgba(21, 21, 21, 0.1);
    color: #000000;
    transform: scale(1.1);
}

.product-content {
    border: 0.1rem solid #000000;
    border-radius: 0.2rem;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} */

/* .product-info>h2 {
    margin-top: 7%;
    font-size: 1.3rem;
    color: black;
    flex-grow: 1;
    margin-bottom: 0;

}

.product-info>p {
    font-size: 1.5rem;
    font-size: 1.2rem;
    color: #000000;
    margin-top: vh;
    margin-bottom: 0;
} */


/* -------------- DISEÑO RESPONSIVO --------------- */
/* !Eliminado */

/*@media (max-width: 1500px) {
     #arriba {

        height: 13vh;
    }

    #nano {
        font-size: 1.7rem;
    }

    #bytes {
        font-size: 1.7rem;
    }

    .logo {
        margin-right: -9rem;
    }

    #barrasuperior {
        column-gap: 20px;
        font-size: 1rem;
    } 
    #botonservicios {
        margin-right: 5vw;
    }

    #carouselExampleDark {
        margin-top: -5%;
        padding-top: 15%;
    }

    .carousel-item img {
        height: 56vh;
    }

    #cards-catalogo {
        flex-wrap: wrap;
    }

    #sectionservicios {
        height: auto;
    }

    .card-armado {
        height: auto;
    }

    .card-armado>img {
        max-height: 19vh;
    }

    #sectionopiniones {
        margin-top: 0vh;
    }

    #nuestros-trabajos {
        height: auto;
    }

    #twitter-icon,
    #whatsapp-icon,
    #instagram-icon,
    #facebook-icon,
    #correo-icon {
        padding: 2vh;
    }
    } */

/* !Eliminado */
/* @media (max-width: 1150px){
    .product-content{
        width: 137%;  
    }

    #almacenamiento{
        column-gap: 5vw;
    }

    #tarjetas{
        column-gap: 5vw;
    }

    #memorias{
        column-gap: 5vw;
    }

    #parrafo-botones{
        flex-direction: column;
    }
    
    #damos-opciones {
        width: 100%;
        justify-content: center;
        text-align: center;
    }    
 
}  */

@media (max-width: 1200px) {
    #arriba {
        flex-direction: column;
        padding: 2%;
    }
    #contenedor-logo{
        margin: 0;
    }

    .btn-login{
        height: 3vw;
    }

    #cards-catalogo {
        /* display: grid;
        grid-template-columns: repeat(3, 0fr); */
        flex-wrap: wrap;
    }

    #barrasuperior{
        column-gap: 3vw;
        font-size: 1.8vw;
        margin: 0;
    }
}

/* @media (max-width: 1200px){
    #arriba{
        flex-direction: column;
    }

    nav{
        column-gap: 1.1rem;
    }

    #damos-opciones{
        margin-bottom: 4%;
    }

    #rep{
        width: 16rem;
    }

    #arm{
        width: 16rem;
    }

    #comp{
        width: 16rem;
    }

    #botonservicios > button{
        width: 16rem;
    }

    #parrafo-botones > p{
        font-size: 1.6rem;
        margin-right: 6%;
    }

    #armadopc > h2{
        text-align: center;
        font-size: 3rem;
    }

    .card-text-armado{
        max-height: 8vh;
    }

    .card-armado > img{
        max-height: 12vh;
    }

    .btn-armado{
        width: 18vw;
        border: 1px solid white;
    }

    .carousel-item img{
        height: 40vh;
    }

    .carousel-dark{
        bottom: -10.75rem;
    }

    #obtener2-container{
        margin-bottom: 13vh;
    }

    #boton-armado{
        width: 34rem;
    }

    #cuerpo-armado > p{
        margin-top: 27%;
    }

    #sectioncomponentes{
        height: auto;
       
    }

    #formulario-contacto{
        margin-left: 4vw;

    }

    #carouselExampleDark{
        margin-top: -19%;
    }



} */


/* 
@media (max-width: 800px){
    .product-content {
        width: 269%;
    }

    #almacenamiento{
        column-gap: 27vw;
    }

    #tarjetas{
        column-gap: 27vw;
    }

    #memorias{
        column-gap: 27vw;
    }

    #primer-video{
        display: flex;
        flex-direction: column-reverse;
    }

    #segundo-video{
        display: flex;
        flex-direction: column-reverse;
    }

    #tercer-video{
        display: flex;
        flex-direction: column-reverse;
    }

    .parrafo-video{
        width: 90%;
    }

    #footer-iconos{
        justify-content: center;
        column-gap: 5.5vw;
        margin-right: 0vw;
    }

    #twitter-icon, #whatsapp-icon, #instagram-icon, #facebook-icon, #correo-icon{
        padding: 2vh;
    }
} */