#armado{
    height: 190vh;
    
}

#titulo{
    width: 30%;
    text-align: center;
    font-size: 3rem;
    margin-left: 5vw;
}

#contenedor-armado{
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
}

#contenedor-primero{
    /* background-color: aqua; */
    display: flex;
    column-gap: 5vw;
    margin-bottom: 10vh;
}

#contenedor-imagenes{
    display: flex;
}

#contenedor-imagenes > img{
    max-width: 15vw;
}

#contenedor-opciones{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(77, 116, 116); */
    column-gap: 5vw;
    font-size: 1.5rem;
    padding-left: 3vw;
    padding-right: 3vw;
}

#contenedor-instrucciones{
    background-color: rgb(28, 33, 33);
}

#opciones1{
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

#opciones2-1{
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

#opciones2-2{
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

#opciones3{
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

#opciones4{
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

#opciones5{
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    row-gap: 3vh;
}

.form-check{
    margin-bottom: 10vh;
}

textarea{
    width: 50vw;
}

#categoria5{
    margin-top: 7vh;
    margin-bottom: 5vh;
}