



html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: sans-serif;
    color: white;
        
}

#arriba {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    animation: bajar 1s;
    color: white;
    border-bottom: solid 1px rgb(63, 57, 57);


}



@keyframes bajar {
    0% {
        transform: translateY(-100px);

    }

    100% {
        transform: translateY(0px);

    }
}


h1 {
    font-size: 1.rem;
}

#nano {
    color: white;
}

#bytes {
    color: #2fc5e0;
}

.logo {
    display: flex;
    margin-right: 20rem;
    align-items: center;
    text-decoration: none;
}

.icon {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-right: 11px;
}




nav {
    color: white;
    display: flex;
    column-gap: 1.3rem;
    font-size: 1.1rem;
    justify-content: flex-start;
    margin-right: 3vw;
    /* letter-spacing: 1.5px; */

}

#header1:hover{
    color: #2fc5e0;
}
#header2:hover{
    color: #2fc5e0;
}
#header3:hover{
    color: #2fc5e0;
}
#header4:hover{
    color: #2fc5e0;
}
#header5:hover{
    color: #2fc5e0;
}
#header6:hover{
    color: #2fc5e0;
}
#header7:hover span {
    color: aqua;
}
#header7:hover img {
    filter: invert(43%) sepia(14%) saturate(2633%) hue-rotate(184deg) brightness(87%) contrast(87%);
}
a {
    text-decoration: none;
    color: white;
}

/* SECCIÓN BANNER */
#sectionbanner {
    height: 95vh;
    border-bottom: solid 1px rgb(0, 0, 0);
    background-repeat: round;
    background-color: black;

}

#obtener1{
    background-color: transparent;
    border: 0.1rem solid white;
    padding: 1rem 1rem;  
    width: 20rem;  
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    z-index: 1001;
    justify-content: center;
    font-size: 1.4rem;   
    transition: all 0.3s ease;;  
}

#obtener1:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

#obtener2{
    background-color: transparent;
    border: 0.1rem solid white;
    padding: 1rem 1rem;  
    width: 20rem;  
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    z-index: 1001;
    justify-content: center;
    font-size: 1.4rem;  
    transition: all 0.3s ease;;    
}

#obtener2:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

#obtener3{
    background-color: transparent;
    border: 0.1rem solid white;
    padding: 1rem 1rem;  
    width: 20rem;  
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    z-index: 1001;
    justify-content: center;
    font-size: 1.4rem;  
    transition: all 0.3s ease;  
}

#obtener3:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

#contenido1 > h1 {
    font-size: larger;
    font-size: 40px;
}

.titulo-2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}


/* FOOTER */
footer {
    background-color: black;
    align-items: center;
    display: flex;
    height: 20vh;
}

.logofooter {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    font-size: 12px;
}

#autor{
    font-size: 0.8rem;
    display: flex;
    margin-left: 2vw;
}

ul {
    list-style: none;
}

ul > h3 {
    text-align: center;
    font-size: 1rem;
}

/* SECCION MANTENCION */

#opciones{
    position: relative;
    display: flex;
    height: 300vh;
    margin-top: 12vh;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.contenedor-imagenes {
    display: flex;
    justify-content: center;
    gap: 1vw; 
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 5vh;
    border-bottom: 0.6vh solid black;
    padding-bottom: 2vh;
    border-radius: 0.2vw;
}

.m-imagen {
    width: 8vw; 
    transition: transform 0.3s ease; 
    cursor: pointer; 
    /* border-bottom: 1px solid black; */
}

.imagen:hover, .imagen.activa {
    transform: scale(1.2); 
    z-index: 10; 
}

.casilla-opciones{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    
}

.opciones-label{
    color: black;
    font-weight: bold;
}

#m-checkbox{
    margin-left: 0.6vw;
    height: 1.5vh;
    width: 1.5vw;
    margin-top: 0.5vh;
    
}

.m-opciones-check{
    display: flex;
    justify-content: center;
    border: solid black;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 1vh;
    border-radius: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.m-relleno{
    height: 1.5vh;
    width: 1.5vw;
    /* outline: 0.1rem solid black; */
}

label{
    color: black;
}

.m-titulos{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: -1vh;
    font-family: "Tilt Neon", sans-serif;
}

#cuadro-texto{
    display: flex;
    justify-content: center;
    margin-top: 8vh;  
}

#mensaje{
    color: black;
    height: 20vh;
    width: 30vw;
    border: solid 0.4vh black;
    resize: none;
    overflow-wrap: auto;
    border-radius: 1vw;
    padding-left: 0.5vw;

}

.boton-enviar{
    height: 5vh;
    width: 5vw;
    background-color: rgb(70, 70, 70);
    color: white;
    margin-top: 7vh;
    margin-left: 5vw;
    border-radius: 0.7vw;
    border: solid 0.33vh black;
}

.boton-enviar:hover {
    background-color: rgb(100, 100, 100); /* Color al pasar el mouse */
}

.boton-enviar:active {
    background-color: #222222; /* Color al hacer click */
}




