{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NanoBytes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalogo.css' %} ">
    <script src="{% static 'js/funciones.js' %}"></script>
</head>

<body>

    <header id="principal">
        <div id="arriba">

            <div>
                <a class="logo" href="{% url 'home' %}">
                    <img src="{% static 'assets/icon.jpg' %}" alt="icon" class="icon">
                    <h1 id="nano">Nano</h1>
                    <h1 id="bytes">Bytes</h1>
                </a>
            </div>

            <nav id="barrasuperior">
                <a href="#principal">Inicio</a>
                <a href="#section-servicios">Servicios</a>
                <a href="#nuestros-trabajos">Nuestros trabajos</a>
                <a href="#armadopc">Arma tu equipo</a>
                <a href="#sectioncomponentes">Componentes</a>
                <a href="#sectionopiniones">Contáctanos</a>
                <!-- {% comment %} <a href="{% url 'nosotros' %}">Quíenes sómos</a> {% endcomment %} -->
                {% if user.is_authenticated %}
                <div class="usuario">{{ user.username }}</div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
                <a href="{% url 'carrito' %}" id="carro-img">
                    <i class="bi bi-cart"></i>
                    <p>({{ request.session.carrito|length }})</p>
                </a>
            </nav>

        </div>
    </header>

    <section id="pagina-catalogo">

        <div id="catalogoprincipal">
            <h1>Componentes</h1>
        </div>

        {% comment %} *CATALOGO ANTIGUO {% endcomment %}
        <!-- <div id="cards-catalogo">
            <div class="card" id="cards" style="width: 18rem;">
                <img src="{% static 'assets/disco-duro.JPG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almacenamiento</h5>
                    <p class="card-text"><strong>SSD's, Discos duros externos, pendrives</strong></p>
                    <a href="#almacenamiento" class="btn btn-dark">Revisar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'assets/tarjeta-grafica2.JPG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tarjetas gráficas</h5>
                    <p class="card-text"><strong>Tarjetas con RTX NVIDIA 3050, 3060TI, 1050, 4060</strong>
                    </p>
                    <a href="#tarjetas" class="btn btn-dark">Revisar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'assets/procesador.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memorias RAM</h5>
                    <p class="card-text"><strong>Memorias de 4gb, 8gb y 16gb</strong></p>
                    <a href="#memorias" class="btn btn-dark">Revisar</a>
                </div>
            </div>
        </div>

        <section id="productos"></section> -->

        {% comment %}*CATALOGO DJANGO {% endcomment %}
        <div class="catalog-container">
            {% for p in productos %}
            <div class="card" style="width: 18rem;">
                <img src="{{p.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{p.detalle}}</h5>
                    <p>{{p.stock}}</p>
                    <p class="tachado">{{p.tachado}}</p>
                    <p>{{p.precio}}</p>
                    <a href="{% url 'addToCar' p.id %}" class="btn btn-dark">Añadir</a>
                </div>
            </div>
            {% endfor %}



            <!----------- ALMACENAMIENTO ---------------->
            <!-- <h3>Almacenamiento</h3>
           <div id="almacenamiento">
                DISCOS SOLIDOS SATA 2,5
                <h4 class='subtitulo'>Discos sólidos Sata 2,5</h4>
                <div id="discos-solidos-sata-2-5" class="subcategoria">
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/ALMACENAMIENTO/Discos Sólidos Sata 2,5/Hikvision_E100_128GB.png' %}" alt="Producto 1">
                                <h2>Hikvision E100 128GB</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/ALMACENAMIENTO/Discos Sólidos Sata 2,5/TeamGroup_CX2_256GB_1.png' %}" alt="Producto 1">
                                <h2>TeamGroup CX2 256GB</h2>
                                <p>$30.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DISCOS SOLIDOS M2 NVME -->
            <!-- <h4 class='subtitulo'>Discos sólidos m.2 Nvme</h4>
                <div id="discos-solidos-m-2-nvme" class="subcategoria">
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/ALMACENAMIENTO/Discos Sólidos m.2 Nvme/Crucial_P5_PLUS_2280_1TB_gen4_1.png' %}" alt="Producto 1">
                                <h2>Crucial P5 PLUS 2280  1TB gen4</h2>
                                <p>$100</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/ALMACENAMIENTO/Discos Sólidos m.2 Nvme/Toshiba_2280_512GB_gen3.png' %}" alt="Producto 1">
                                <h2>Toshiba 2280 512GB gen3</h2>
                                <p>$100</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/cat2.webp' %}" alt="Producto 1">
                                <h2>SK Hynix 2230 512GB gen4</h2>
                                <p>$100</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/cat3.jpeg' %}" alt="Producto 1">
                                <h2>Western Digital SN740 2230 512GB gen4</h2>
                                <p>$100</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- DISCOS SOLIDOS M2 SATA -->
            <!-- <h4 class='subtitulo'>Discos sólidos m.2 Sata</h4>
                <div id="discos-solidos-m-2-sata" class="subcategoria">
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/ALMACENAMIENTO/Discos Sólidos m.2 Sata/Hikvision_E100N_128Gb_1.png' %}" alt="Producto 1">
                                <h2>Hikvision E100N 128Gb</h2>
                                <p>$100</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/cat.webp' %}" alt="Producto 1">
                                <h2>Teamgroup 256Gb</h2>
                                <p>$119.990</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div> -->
            <!------------------- CABLES Y ADAPTADORES ------------------->
            <!-- <h3>Cables y Adaptadores</h3>
            <div id="cables-adaptadores">
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/CABLES Y ADAPTADORES/Cable_HDMI_1,5_Metros.png' %}" alt="Producto 1">
                            <h2>Cable HDMI 1,5 Metros</h2>
                            <p>$100</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/CABLES Y ADAPTADORES/Cable_VGA_1,2_Metros.png' %}" alt="Producto 1">
                            <h2>Cable VGA 1,2 Metros</h2>
                            <p>$100</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/CABLES Y ADAPTADORES/Cable_Red_Ethernet_5E_1,2_Metro.png' %}" alt="Producto 1">
                            <h2>Cable Red Ethernet 5E 1,2 Metro</h2>
                            <p>$100</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/CABLES Y ADAPTADORES/Adaptador_DisplayPort_a_VGA_blanco.png' %}" alt="Producto 1">
                            <h2>Adaptador DisplayPort a VGA blanco</h2>
                            <p>$100</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/CABLES Y ADAPTADORES/Adaptador_HDMI_a_VGA_negro.png' %}" alt="Producto 1">
                            <h2>Adaptador HDMI a VGA negro</h2>
                            <p>$100</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/CABLES Y ADAPTADORES/Cable_Adaptador_DisplayPort_a_DVI.png' %}" alt="Producto 1">
                            <h2>Cable Adaptador DisplayPort a DVI</h2>
                            <p>$100</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!------------------------- MEMORIAS RAM ---------------------------->
            <!-- <h3>Memorias RAM</h3>
            <div id="memorias-ram">
                DDR3L
                <h4 class='subtitulo'>DDR3L</h4>
                <div id="ddr3l" class="subcategoria">
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3L/Adata_4GB_PC3L_12800S.png' %}" alt="Producto 1">
                                <h2>Adata 4GB PC3L 12800S</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3L/Zorq_8GB_PC3L_12800S.png' %}" alt="Producto 1">
                                <h2>Zorq 8GB PC3L 12800S</h2>
                                <p>$35.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3L/Samsung_4GB_PC3L_12800S.jpg' %}" alt="Producto 1">
                                <h2>Samsung 4GB PC3L 12800S</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3L/' %}" alt="Producto 1">
                                <h2>Micron 4GB PC3L 12800S</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/' %}" alt="Producto 1">
                                <h2>SK Hynix 4GB PC3L 12800S</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DDR4 
                <h4 class='subtitulo'>DDR4</h4>
                <div id="ddr4" class="subcategoria">
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/' %}" alt="Producto 1">
                                <h2>Adata 4GB PC4 2400T</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/' %}" alt="Producto 1">
                                <h2>Samsung 4GB PC4-2400</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/Samsung_4GB_PC4_2666.png' %}" alt="Producto 1">
                                <h2>Samsung 4GB PC4 2666</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/Ramaxel_2GB_PC4_2400.png' %}" alt="Producto 1">
                                <h2>Ramaxel 2GB PC4 2400</h2>
                                <p>$12.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/Ramaxel_4GB_PC4_3200.png' %}" alt="Producto 1">
                                <h2>Ramaxel 4GB PC4 3200</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/' %}" alt="Producto 1">
                                <h2>SK Hynix 4GB PC4 3200</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/SK_Hynix_16GB_PC4_3200.png' %}" alt="Producto 1">
                                <h2>SK Hynix 16GB PC4 3200</h2>
                                <p>$55.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/Micron_8GB_PC4_3200.png' %}" alt="Producto 1">
                                <h2>Micron 8GB PC4 3200</h2>
                                <p>$35.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/' %}" alt="Producto 1">
                                <h2>Crucial 4GB PC4 2666</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR4/' %}" alt="Producto 1">
                                <h2>Kingston 8GB PC4 3200</h2>
                                <p>$35.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                DDR3
                <h4 class='subtitulo'>DDR3</h4>
                <div id="ddr3" class="subcategoria">
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/' %}" alt="Producto 1">
                                <h2>Samsung 1GB PC3 8500S</h2>
                                <p>$5.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/Samsung_2GB_PC3_8500S.png' %}" alt="Producto 1">
                                <h2>Samsung 2GB PC3 8500S</h2>
                                <p>$12.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/Adata_2GB_PC3_10600S.png' %}" alt="Producto 1">
                                <h2>Adata 2GB PC3 10600S</h2>
                                <p>$12.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/GSkill_4GB_12800S.png' %}" alt="Producto 1">
                                <h2>G.Skill 4GB 12800</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/SK_Hynix_2GB_PC3_12800S.png' %}" alt="Producto 1">
                                <h2>SK Hynix 2GB PC3 12800S</h2>
                                <p>$12.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/SK_Hynix_4GB_PC3_12800S.png' %}" alt="Producto 1">
                                <h2>SK Hynix 4GB PC3 12800S</h2>
                                <p>$20.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/' %}" alt="Producto 1">
                                <h2>ELPIDA 1GB PC3 10600S</h2>
                                <p>$5.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/ELPIDA_2GB_PC3_12800S.png' %}" alt="Producto 1">
                                <h2>ELPIDA 2GB PC3 12800S</h2>
                                <p>$12.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/DDR3/' %}" alt="Producto 1">
                                <h2>Kingston 2GB 1333</h2>
                                <p>$12.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>

                </div> -->
            <!-- DDR5 -->
            <!-- <h4 class='subtitulo'>DDR5</h4>
                <div id="ddr5" class="subcategoria">
                    <div class="product">
                        <div class="product-content">
                            <div class="product-info">
                                <img src="{% static 'assets/SECCION 1 PRODUCTOS/MEMORIAS RAM/' %}" alt="Producto 1">
                                <h2>SKHynix 8GB PC5 4800</h2>
                                <p>$50.000 CLP</p>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div> -->

            <!------------------------- TARJETAS GRÁFICAS ---------------------------->
            <!-- <h3>Tarjetas Gráficas</h3>
            <div id="tarjetas-graficas">
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/Tarjetas Graficas/' %}" alt="Producto 1">
                            <h2>2060 Super 8 Gb Gigabyte OC Windforce</h2>
                            <p>$50.000 CLP</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-info">
                            <img src="{% static 'assets/SECCION 1 PRODUCTOS/Tarjetas Graficas/' %}" alt="Producto 1">
                            <h2>3070 Zotac Twin Edge</h2>
                            <p>$50.000 CLP</p>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>  -->
        </div>

    </section>

    <footer>
        <div id="footer-iconos">
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-whatsapp "></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-envelope"></i></a>
        </div>
        <div id="footer-superior">

            <div id="footer1" class="clase-footer">
                <h3 class="footer-titulo">Visítanos</h3>
                <a class="a-footer" href="https://maps.app.goo.gl/u4Aj8uriiURbmHKT7">Lago Vichuquén #1875</a>
                <a class="a-footer" href="https://maps.app.goo.gl/hQdXovheHFJkvHSk7">Adolfo Larraín Valdivieso #442</a>
            </div>
            <div id="footer2" class="clase-footer">
                <h3 class="footer-titulo">Nuestras redes</h3>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Instagram</a>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Facebook</a>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">WhatsApp</a>
            </div>
            <div id="footer3" class="clase-footer">
                <h3 class="footer-titulo">Legal</h3>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Nuestra marca</a>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Garantías</a>
            </div>
            <div id="footer4" class="clase-footer">
                <h3 class="footer-titulo">Nuestros servicios</h3>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Armado de computadores</a>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Reparación de equipos</a>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Mejora de equipos</a>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Cálculo de presupuestos</a>
                <a class="a-footer" href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Vistas a domicilio</a>
            </div>
        </div>
        <div id="footer-inferior">
            <div id="pie-footer">
                <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Terminos y condiciones</a>
                <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">BW Proyectos</a>
                <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4">Política de privacidad</a>
            </div>

        </div>
        <p id="derechos-reservados">© 2024 Derechos reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>