{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <section id="login">
        <!-- <div id="cuadro-login">
            <h2 id="ogin"><span>L</span>ogin</h2>
            <div id="contenido-login">
                <h3>Usuario</h3>
                <input type="Usuario" size="47" id="usuario" placeholder="MiUser">
                <h3>Clave</h3>
                <input type="password" size="47" id="clave" placeholder="**********">



                <div id="contenedor-boton">
                    <a href="https://g.co/kgs/fDCnATb" class="btn btn-dark" id="btn-login">Entrar</a>
                </div>
            </div> -->

            <form class="form-login" action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn-login">Login</button>
            </form>
    </section>


</body>

</html>